<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>App Data</title>
</head>

<body>
	<h1>Applicants Data</h1>
	<div>
		<strong>Name: </strong><%- name %><br>
		<strong>Email Address: </strong><%- email %><br>
        <strong>GPA: </strong> <%- gpa %><br>
        <strong>Background information: </strong> <%- information %><br>

        <hr>
		
		
		
		<br>
        <a href="/">HOME</a>
	</div>
</body>

</html>