<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Display GPA</title>
</head>
<body>
<h1>Display GPAs Greater than or Equal to</h1>
<a href="/">HOME</a>

<br>

<%- gpaTable %>




<br>





</body>

</html>