<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
</head>

<body>
	<h1>Welcome to Terps Summer Camp</h1>
    <h2>Applicant</h2>
	&#x2022; To Apply select <a href="/application">Application</a><br><br>
	&#x2022; To review/update an application select <a href="/review">Review Application</a><br>
	<hr>

    <br>

    <h3>Admin</h3>

    &#x2022; To select users based on gpa <a href="/searchGpa">Select by GPA</a><br><br>

	&#x2022; To remove all applications <a href="/removeApplicants">Remove All Applications</a><br>

	<hr>





</body>

</html>