<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removing Applicants</title>
</head>


<body>

    <h1> <Strong> Removal of All Applications</Strong></h1>

    All applications have been removed from the database. Number of applications removed: <%- number %>

    <br>
    <br>
    <br>

    <a href="/">HOME</a>
</body>