<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Review Applicant</title>
</head>

<body>

    <h1><strong> Review Application</strong></h1>
    <form action="/review" method="post">
    <fieldset>
        <label> <strong> Email Address: </strong> <input type="email" name="emailSearch"></label>
    <br>
    <br>
    <br>
    </fieldset>

    <br>

    <input type="reset"/>
	<input type="submit" value="Sumbit Request"/>

    <hr>

    <a href="/">HOME</a>
    
    </form>
</body>