<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search Gpa</title>
</head>

<body>

	<h1><strong> Display GPAs Greater than or Equal to</strong></h1>
    <form action="/searchGpa" method="post">
    <fieldset>
        <label> <strong> GPA: </strong> <input type="text" name="gpaSearch"></label>
    <br>
    <br>
    <br>
    </fieldset>

    <br>

    <input type="reset"/>
	<input type="submit" value="Sumbit Request"/>

    <hr>

    <a href="/">HOME</a>
    
    </form>





</body>